<head>
  <title>It's not snowing in Omaha</title>
</head>
<body>
	<p style="color:white;font-family: 'arial', sans-serif;font-style: bold;font-size: 10em;">IT'S NOT SNOWING IN OMAHA</p>
</body>
<footer>
	<p><a href="http://twitter.com/home?status=It's not snowing. 😿 Visit snowmaha.com to see the latest Snowmaha status." target="_blank"><img src="assets/twitter.png" width="35" height="35" class="tweet"></a></p>
</footer>