<head>
  <title>Yay! Snow!</title>
</head>
<body>
    <div class="let-it-snow"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/let-it-snow.min.js"></script>
    <script>$.letItSnow('.let-it-snow', {
                stickyFlakes: 'lis-flake--js',
                makeFlakes: true,
                sticky: true
            });
    </script>
    <p collectsnow style="color:white;font-family: 'arial', sans-serif;font-style: bold;font-size: 10em;">YAY! SNOW!</p>
</body>
<footer>
  <p><a href="http://twitter.com/home?status=Yay! It's snowing!!! ❄️❄️❄️ Visit snowmaha.com to see the latest Snowmaha status." target="_blank"><img src="assets/twitter.png" width="35" height="35" class="tweet"></a></p>
</footer>