<head>
  <title>Yay! Snow!</title>
</head>
<body>
    <div class="let-it-snow"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/let-it-snow.min.js"></script>
    <script>$.letItSnow('.let-it-snow', {
                stickyFlakes: 'lis-flake--js',
                makeFlakes: true,
                sticky: true
            });
    </script>
    <p collectsnow style="color:white;font-family: 'arial', sans-serif;font-style: bold;font-size: 10em;">YAY! SNOW!</p>
</body>